* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: azure;
  font-family: Audiowide;
}

nav {
  padding: 0 0.94rem;
  border-bottom: #ffffff1f 0.1rem solid;
}
a {
  text-decoration: none;
  color: azure;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  list-style: none;
  text-align: center;
  height: 3.625rem;
  align-items: center;
}
.dot {
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
  text-align: center;
  text-align: center;
}

.ponto {
  max-width: 0.75rem;
  max-height: 0.75rem;
  border-radius: 50%;
  background-color: #55d726;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.borrado {
  width: 0.75rem;
  height: 0.75rem;
  filter: blur(4px);
}

.superior {
  width: 0.5rem;
  height: 0.5rem;
}
#open-to-work {
  display: flex;
  justify-content: space-between;
  width: 7.125rem;
}

#sections-shortcuts {
  display: flex;
}

#sections-shortcuts li {
  margin: 0rem 1rem;
}

#resume li {
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.375rem;
  border-radius: 1.1875rem;
  opacity: 0.8;
  background: linear-gradient(
    272deg,
    rgba(172, 152, 218, 0.9) 6.28%,
    rgba(52, 0, 173, 0.9) 96.61%
  );
  box-shadow: 3px 10px 7px 0 rgba(0, 0, 0, 0.25) inset;
}
