* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: azure;
  font-family: Audiowide;
}

nav {
  padding: 0 0.94rem;
  border-bottom: #ffffff1f 0.1rem solid;
}
a {
  text-decoration: none;
  color: azure;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  list-style: none;
  text-align: center;
  height: 3.625rem;
  align-items: center;
}
.dot {
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
  text-align: center;
  text-align: center;
}

.ponto {
  max-width: 0.75rem;
  max-height: 0.75rem;
  border-radius: 50%;
  background-color: #55d726;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.borrado {
  width: 0.75rem;
  height: 0.75rem;
  filter: blur(4px);
}

.superior {
  width: 0.5rem;
  height: 0.5rem;
}
#open-to-work {
  display: flex;
  justify-content: space-between;
  width: 7.125rem;
}

#sections-shortcuts {
  display: flex;
}

#sections-shortcuts li {
  margin: 0rem 1rem;
}

#sections-shortcuts a {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#sections-shortcuts a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ac98da;
  transition: 0.3s;
}

#sections-shortcuts a:hover {
  transform: scale(1.1);
}

#sections-shortcuts a:hover::after {
  width: 100%;
}

#resume li {
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.375rem;
  border-radius: 1.1875rem;
  opacity: 0.8;
  background: linear-gradient(
    272deg,
    rgba(172, 152, 218, 0.9) 6.28%,
    rgba(52, 0, 173, 0.9) 96.61%
  );
  box-shadow: 3px 10px 7px 0 rgba(0, 0, 0, 0.25) inset;
}

/* -------------------------------------------------------------------------- */

.hero {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-img {
  width: 30rem;
  height: 30rem;
}

.myphoto {
  background-color: #3400ad;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circulo {
  border-radius: 50%;
  min-width: 30rem;
  min-height: 30rem;
  position: absolute;
}

.borrado2 {
  width: 35rem;
  height: 35rem;
  background: linear-gradient(90deg, #3400ad, #ac98da);
  filter: blur(50px);
}
.txt {
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 4px 4px #ac98da;
  font-size: 6.25rem;
  background: linear-gradient(90deg, #3400ad 0%, #ece4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.texto-atras {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 0; /* fica atrás */
}
.track {
  display: flex;
  width: max-content;
  gap: 5rem;

  animation: slide 10s linear infinite;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.33%);
  }
}
